<ion-content class="ion-padding">
  <div class="welcomecard p-3" style="margin-top: 55%;">

    <div class="title">
      <div class="row">
        <div class="col-12">
          <h2><b>Login</b></h2>
        </div>

      </div>
      <p>Lets get started</p>
    </div>

    <div style="margin-top: -7%;" class="row">
      <div class="col-{{MobInputcolSize}}">
        <ion-input [(ngModel)]="signinemailid" placeholder="Enter your mail" class="primary-input"></ion-input>
      </div>
    </div>


    <ion-input [(ngModel)]="signinpassword" placeholder="Enter your password" type="password" class="primary-input">
    </ion-input>

    <div class="row">
      <div class="col-12 forgot-pw" (click)="forgotPasswordPage()">
        Forgot password?
      </div>



      <div *ngIf="verifyOTPValidate">

        <ion-input type="number" [(ngModel)]="verifynumber" placeholder="Enter your sign-up number"
          class="primary-input"></ion-input>
        <ion-button class="secondarySmallBtn" color="none" (click)="otpPage()">Verify Number</ion-button>

      </div>
    </div>

    <div >
      <ion-button style="width: 98%;" [disabled]="otp == '' " class="secondaryLargeBtn" color="none" (click)="signin()">
        LOGIN</ion-button>
    </div>

    <div class="col-12 forgot-pw ion-text-center">
      New user ? <span (click)="signupPage()" class="signup"><b>Signup</b></span>
    </div>
  </div>


</ion-content>