<ion-content>
  <div style="margin-top: 15% !important;width: 94% !important;" class="container">
    <div class="row ">
      <div class="col-12 mt-3">
        <p class="edit-name">Store logo <span class="infoIcon">
            <img src="assets/icon/i.png" alt="info icon" width="15px">

            <p class="extraInfo">Upload Only
              jpeg or png & Ratio 1:1</p>
          </span>
        </p>
      </div>
      <div class="row" style="padding: 10px;">
        <div class="col-12 ion-text-center">
          <img class="editprofile" src="{{store_logo}}" alt="" width="50%" *ngIf="imagefound">
          <img class="editprofile" src="../../assets/imagenotavilable.png" alt="" *ngIf="noimagefound" width="50%">


          <ion-button class="profileImageChange"  style="margin-top: 20% !important;margin-left:-10% !important;">

            <label  style="font-size: 13px;" (change)="MediaFileSelected($event)" >

              <svg  (change)="MediaFileSelected($event)"  width="22" height="20" fill="#fff" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>


           
              <input type="file"  name="image" accept=".jpeg,.png">
            </label>

           
          </ion-button>

        </div>
        <p class="small text-success ion-text-center" *ngIf="logoUploadCheck"><i>Uploaded Successfully</i></p>
        <p class="small text-danger ion-text-center" *ngIf="imageSize"><i>Uploaded File Size Should Not Exceed More Than 5Mb</i>
        </p>



      </div>



      <!-- Store Name Change -->
      <div class="col-6 mt-1">
        <p class="edit-name">Store Name :</p>
      </div>
      <div class="col-6 mt-1">
        <input type="text" [(ngModel)]="storeName">
      </div>
      <!-- EmailChange -->
      <div class="col-6 mt-1">
        <p class="edit-name">Email:</p>
      </div>
      <div class="col-6 mt-1">
        <input type="text" [ngModel]="EmailID" (ngModelChange)="mailID($event)">
      </div>


      <div class="col-5 mt-1">
        <p>Store Category</p>
      </div>


      <div class="col-7 mt-1">
        <form #categoryselect="ngForm" (change)="StoreCategory(categoryselect.value)">
          <div class="select">
            <select style="color:black;" ngModel placeholder="category" name="category">
              <option disabled value=""> {{store_category}}</option>
              <option *ngFor="let cat of listOfCat" value="{{cat.tbid}}">
                {{cat.store_category}}</option>
            </select>
          </div>
        </form>
      </div>


      <div class="col-6 mt-1 ">Address Line 1</div>
      <div class="col-6 mt-1">
        <input [ngModel]="sellerDetails.address_line_1 == 'null' ? '': sellerDetails.address_line_1" type="text"
          id="edit-field" name="address_line_1" placeholder="Enter Your Address"
          (ngModelChange)="addressline_1($event)">
      </div>
      <div class="col-6 mt-1">Address Line 2</div>
      <div class="col-6 mt-1">
        <input [ngModel]="sellerDetails.address_line_2 == 'null' ? '': sellerDetails.address_line_2" type="text"
          id="edit-field" name="address_line_2" placeholder="Enter Your Address"
          (ngModelChange)="addressline_2($event)">
      </div>
      <div class="col-6 mt-1">City</div>
      <div class="col-6 mt-1">
        <input [ngModel]="sellerDetails.city == 'null' ? '': sellerDetails.city" type="text" id="edit-field" name="city"
          placeholder="Enter Your City" (ngModelChange)="city($event)">
      </div>
      <div class="col-6 mt-1">State</div>
      <div class="col-6 mt-1">
        <input [ngModel]="sellerDetails.state == 'null' ? '': sellerDetails.state" type="text" id="edit-field"
          name="state" placeholder="Enter Your State" (ngModelChange)="state($event)">
      </div>
      <div class="col-6 mt-1">Pincode</div>
      <div class="col-6 mt-1">
        <input [ngModel]="sellerDetails.pincode == 'null' ? '': sellerDetails.pincode" type="text" id="edit-field"
          name="pincode" maxlength="6" placeholder="Enter Your Pincode" (ngModelChange)="pincode($event)">
      </div>

      <div class="row mt-3">
        <div class="col-6 ion-text-left">
          <ion-button (click)="backToprivious()" style="width: 100%;" class="secondarySmallBtn mb-4" color="none">
            Cancel </ion-button>
        </div>

        <div class="col-6 ion-text-right">
          <ion-button (click)="updateProfile()" style="width: 100%;" class="primarySmallBtn mb-4" color="none">
            Update</ion-button>
        </div>

      </div>

    </div>
  </div>

</ion-content>