



<ion-content [ngStyle]="{'opacity':addnewproductpopup ? '0.52' : '1'}"
  [ngStyle]="{'opacity':addnewcategorypopup ? '0.52' : '1'}"
  [ngStyle]="{'opacity':addnewsubcategorypopup ? '0.52' : '1'}">
  <div class="container">
    <div class="signin-div mb-3 p-3" style="margin-top: 20px;">
      <div class="">
        <div class="row">
          <div class="col-12 ion-text-left " style="margin-top: 20px;">

            <svg (click)="backAddoffer()" style="margin-top:-8px;cursor:pointer;margin:5px;"
              xmlns="http://www.w3.org/2000/svg" width="22" height="20" fill="#EB154B" class="bi bi-arrow-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
          </div>
          <div class="col-12">
            <h5 class="title  ion-text-center"><b>Edit Your Offer</b></h5>
          </div>
          <div class="col-10">
            <p class="title mt-3 ion-text-left">Category :</p>
          </div>
          <div class="col-2 mt-2">


            <svg *ngIf="isVisible" (click)="showaddnewcategorypopup()"  width="15" height="15" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>

      

          </div>
          <div class="col-12">
            <input type="text" disabled [(ngModel)]="Category">
          </div>


          <div class="col-10">
            <p class="name mt-3 ion-text-left">Sub Category :</p>
          </div>
          <div class="col-2 mt-2">

            <svg *ngIf="isVisible" (click)="showaddnewsubcategorypopup()"  width="15" height="15" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>

      

          </div>
          <div class="col-12">
            <input type="text" disabled [(ngModel)]="subcategory">
          </div>





          <div class="col-10 ion-text-left">
            <p class="name mt-2">Product:</p>
          </div>
          <div class="col-2 mt-2">

            <svg *ngIf="isVisible" (click)="showaddproductpopup()"  width="15" height="15" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>

           
          </div>
          <div class="col-12">
            <input type="text" disabled [(ngModel)]="productName">
          </div>


        </div>


        <div class="row mt-4">
          <div class="col-6">
            <p class="edit-name ion-text-left">Total Cost(₹) : </p>
          </div>

          <div class="col-6">
            <input style="width:88% !important" [(ngModel)]="totalCost" type="text" id="offer" (keyup)="calculateOfferPrice()" disabled>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p class="edit-name ion-text-left">Offer End Time
            </p>
          </div>
          <div class="col-12">
            <!-- <input [(ngModel)]="offerTime" type="time" id="offer"> -->
            <input type="datetime-local" [ngModel]="offer_end_time | date:'yyyy-MM-ddTHH:mm'"
              (ngModelChange)="change($event)">
          </div>
        </div>


        <div class="row mt-2">
          <div class="col-1 mt-2">
            <input name="offer-select" type="radio" value="DiscountOffer" (change)="onItemChange()"
              [checked]="offer_checked">

          </div>
          <div class="col-11 mt-2" [ngStyle]="{'opacity': DiscountOffer ? '0.5' : '1' }">
            <div class="row ">
              <div class="col-6">
                <p class="edit-name ion-text-left">Offer:</p>
              </div>
              <div class="col-6">

                <span><input  style="width:88% !important"[(ngModel)]="offer" type="text" id="offer" (keyup)="calculateOfferPrice()" type="text"
                    pattern="\d*" maxlength="2" min="1" max="99" id="offer" [disabled]="DiscountOffer"><span style="margin-left:-36px !important">%</span></span>
              </div>
     
            </div>

            <div class="row">
              <div class="col-6">
                <p class="edit-name ion-text-left">Offer Price(₹) :</p>
              </div>
              <div class="col-6">
                <input  style="width:88% !important" [(ngModel)]="offerPrice" type="text" id="offer" disabled>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-1">
            <input name="offer-select" type="radio" value="OtherOffer" (change)="onItemChange2()"
              [checked]="other_offer_checked" />
          </div>
          <div class="col-11" [ngStyle]="{'opacity': OtherOffer ? '0.5' : '1' }">
            <div class="row">
              <div class="col-6">
                <p class="edit-name ion-text-left">Other Offer :</p>
              </div>
              <div class="col-6">
                <input  [(ngModel)]="otheroffer" type="text" id="offer" type="text" id="offer"
                  placeholder="Eg:Buy 2 Get 1 Free" style="font-size: 12px;width:88% !important" [disabled]="otherofferenable">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mt-3 ion-text-left">
          <label for="exampleFormControlTextarea1"> Description </label>
          <textarea style="margin-top: 5px;" class="form-control" [(ngModel)]="description" description
            id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row mt-4 mb-4">
          <div class="col-6 ion-text-center">

            <ion-button *ngIf="isVisible" style="width: 95%;" class="secondarySmallBtn" color="none"
              (click)="offerDelete()">
              Delete</ion-button>

          </div>
          <div class="col-6 ion-text-center">

            <ion-button *ngIf="isVisible" style="width: 95%;" class="primarySmallBtn" color="none" (click)="addoffer()">
              Post</ion-button>

          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>

<!------------ add new category popup ------------->

<div *ngIf="addnewcategorypopup" class="container pop-up-model">
  <div class="card pop-up-card ion-text-center" style="padding: 7px;" id="category-popupCard">
    <div style="margin-top: 2px;" class="title">
      <div class="row">
        <div class="col-10">
          <h4><b>Update category</b></h4>
        </div>
        <div class="col-2">
          <div class="ion-margin-top ion-text-center">

            <svg (click)="hideaddnewcategorypopup()" style="margin-top:-8px;cursor:pointer" width="24" height="27"
              viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1056_2574)">
                <path d="M18 6L6 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 6L18 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <filter id="filter0_d_1056_2574" x="-4" y="0" width="32" height="32" filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1056_2574" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1056_2574" result="shape" />
                </filter>
              </defs>
            </svg>



          </div>
        </div>
      </div>
    </div>
    <div class="row ion-text-center mb-4">
      <form #categoryselect="ngForm" (change)="popupModel(categoryselect.value)" (ngSubmit)="categorysubmit()">
        <div class="col-12 ">
          <div  style="width: 90%;margin: auto;" class="select">
            <select ngModel name="category">
              <option value="" disabled selected>Select Your Category</option>
              <option *ngFor="let cat of categoryList" value="{{cat.category}}">{{cat.category}}</option>
            </select>
          </div>
        </div>

        <ion-button type="submit" style="width: 90%;"  class="secondaryLargeBtn mt-3" color="none" >
          Update Category</ion-button>
      </form>
    </div>
  </div>
</div>


<!------------ add new subcategory popup ------------->

<div *ngIf="addnewsubcategorypopup" class="container pop-up-model">
  <div class="card pop-up-card ion-text-center" style="padding: 7px;" id="subcategory-popupCard">

    <div style="margin-top: 2px;" class="title">
      <div class="row">
        <div class="col-10">
          <h4><b>Update Sub Category</b></h4>
        </div>
        <div class="col-2">
          <div class="ion-margin-top ion-text-center">


            <svg (click)="hideaddnewsubcategorypopup()" style="margin-top:-8px;cursor:pointer" width="24" height="27"
              viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1056_2574)">
                <path d="M18 6L6 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 6L18 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <filter id="filter0_d_1056_2574" x="-4" y="0" width="32" height="32" filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1056_2574" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1056_2574" result="shape" />
                </filter>
              </defs>
            </svg>


          </div>
        </div>
      </div>
    </div>

    <form #subcategoryselect="ngForm" (ngSubmit)="subcategorysubmit(subcategoryselect.value)"
      (change)="SubCategoryPopupModel(subcategoryselect.value)">
      <div class="col-12 mt-2">
        <div style="width: 90%;margin: auto;" class="select">
          <select  ngModel name="subcategory">
            <option value="" disabled selected>Select Your Sub Category</option>
            <option *ngFor="let subcat of subcategoryList; let i = index" value="{{subcat.subsubcategory}}">
              {{subcat.subsubcategory}}
            </option>
            <option disabled *ngIf="subCategoryNotfound" style="background-color: #d1d1d1;">No Sub Category Found
            </option>
            <!-- <option style="background-color: #23d5ab;" value="1">+ add new</option> -->

          </select>
        </div>
      </div>

      <ion-button type="submit" style="width: 90%;"  class="secondaryLargeBtn mt-3" color="none" >
        Update Sub Category</ion-button>
    </form>
  </div>
</div>

<!----------  product popup --------------->
<div *ngIf="addnewproductpopup" class="container pop-up-model">
  <div class="card pop-up-card ion-text-center" style="padding: 7px;" id="product-popupCard">
    <div style="margin-top: 2px;" class="title">
      <div class="row">
        <div class="col-10">
          <h4><b>Update Product Name</b></h4>
        </div>
        <div class="col-2">
          <div class="ion-margin-top ion-text-center">

            <svg (click)="hideaddproductpopup()" style="margin-top:-8px;cursor:pointer" width="24" height="27"
              viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_1056_2574)">
                <path d="M18 6L6 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 6L18 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <filter id="filter0_d_1056_2574" x="-4" y="0" width="32" height="32" filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1056_2574" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1056_2574" result="shape" />
                </filter>
              </defs>
            </svg>


          </div>
        </div>
      </div>
    </div>

    <form #productselect="ngForm" (ngSubmit)="productselectform(productselect.value)">

      <div   style="width: 90%;margin: auto;" class="select " id="kg-dropdwon">
        <select ngModel name="productName">
          <option value="" disabled selected>Select Your Product</option>
          <option *ngFor="let product of productList" value="{{product.product_name}}">{{product.product_name}}
          </option>
          <option disabled *ngIf="ProductNotfound">No Product Found</option>
        </select>
      </div>
      <div class="row">
        <div class="col-12">

          <ion-button type="submit" style="width: 90%;"  class="secondaryLargeBtn mt-3" color="none" >
            Update Product Name</ion-button>

        </div>
      </div>
    </form>

  </div>
</div>