


<ion-content>
  <div class="container">
    <div  class="signin-div mb-3" style="margin-top: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-12 ion-text-left " style="margin-top: 20px;">

            <svg (click)="backToPrivious()" style="margin-top:-8px;cursor:pointer;margin:5px;"
              xmlns="http://www.w3.org/2000/svg" width="22" height="20" fill="#EB154B" class="bi bi-arrow-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
          </div>
          <div class="col-12">
            <h5 class="name  ion-text-center" style="color:#121212;"><b>Add Your Offer</b></h5>
          </div>
          <div class="col-10">
            <p class="name mt-3 ion-text-left" style="color:#000000;">Category :</p>
          </div>
 
          <div class="col-12">
            <input type="text" disabled [(ngModel)]="Category">
          </div>


          <div class="col-10">
            <p class="name mt-3 ion-text-left" style="color:#000000;">Sub Category :</p>
          </div>
  
          <div class="col-12">
            <input type="text" disabled [(ngModel)]="subcategory">
          </div>
        

          <div class="col-10 ion-text-left">          
            <p class="name mt-2" style="color:#000000;">Product:</p>
          </div>
     
          <div class="col-12">
            <input type="text" disabled [(ngModel)]="productName">
          </div>
      

        </div>
       

        <div class="row mt-4">
          <div class="col-6">
            <p class="edit-name ion-text-left" style="color:#000000;">Total Cost(₹) : </p>
          </div>

          <div class="col-6">
            <input style="width: 95%" [(ngModel)]="totalCost" type="text" id="offer" (keyup)="calculateOfferPrice()" disabled>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p class="edit-name ion-text-left" style="color:#000000;">Offer End Time
              :{{this.OfferHour}}{{this.OfferMinute}}</p>
          </div>
          <div class="col-12">
         
            <input type="datetime-local" [ngModel]="expiryDateandTime | date:'yyyy-MM-ddTHH:mm'"
            (ngModelChange)="change($event)">
          </div>
        </div>


        <div class="row mt-2">
          <div class="col-1 mt-2">
            <input name="offer-select" type="radio" checked="otherofferradio" value="DiscountOffer" (change)="onItemChange()"
             >

          </div>
          <div class="col-11 mt-2" [ngStyle]="{'opacity': DiscountOffer ? '0.5' : '1' }">
            <div class="row ">
              <div class="col-6">
                <p class="edit-name ion-text-left" style="color:#000000;">Offer:</p>
              </div>
              <div class="col-6">
                
                <span><input style="width:92%" [(ngModel)]="offer" type="text" id="offer" (keyup)="calculateOfferPrice()" type="text"
                    pattern="\d*" maxlength="2" min="1" max="99" id="offer" [disabled]="DiscountOffer"> <span style="margin-left: -30px;">%</span> </span>
              </div>
              
            </div>

            <div class="row">
              <div class="col-6">
                <p class="edit-name ion-text-left" style="color:#000000;">Offer Price(₹) :</p>
              </div>
              <div class="col-6">
                <input style="width:92%" [(ngModel)]="offerPrice" type="text" id="offer" disabled>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-1">
            <input name="offer-select" type="radio"  value="OtherOffer" (change)="onItemChange2()" />
          </div>
          <div class="col-11" [ngStyle]="{'opacity': OtherOffer ? '0.5' : '1' }">
            <div class="row">
              <div class="col-6">
                <p class="edit-name ion-text-left" style="color:#000000;">Other Offer :</p>
              </div>
              <div class="col-6">
                <input [(ngModel)]="otheroffer" type="text" id="offer" type="text" id="offer"
                  placeholder="Eg:Buy 2 Get 1 Free" style="font-size: 11px;width:92% !important" [disabled]="otherofferenable">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mt-1 ion-text-left">
          <label for="exampleFormControlTextarea1" style="color:#000000;"> Description </label>
          <textarea style="margin-top: 5px;" class="form-control" [(ngModel)]="description"
            description id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row">
          <!-- <div class="col-6 ion-text-center">
            <button *ngIf="isVisible" (click)="offerDelete()" class="btn btn-sm delete-btn mt-2">Delete</button>
          </div> -->
          <div class="col-12 ion-text-center">

            <ion-button  *ngIf="isVisible" (click)="addoffer()"  style="width: 95%;font-size: 15px;"  class="secondarySmallBtn mb-4" color="none" >
              Post</ion-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>