.card {
  border          : 1px solid #bfbfbf;
  border-radius   : 5px;
  background-color: var(--ion-color-light)!important;
  box-shadow      : 3px 3px 16px 4px #ccc;
  width           : 100% !important;
  margin          : 5px;
}

.signin-div {
  width: 95%;
}

.welcomecard {
  background-color: var(--ion-color-light);
  width           : 94%;
  margin          : auto !important;
  margin-bottom   : 8px !important;
  border-radius   : 4px !important;
  box-shadow      :2px 2px 4px 2px #ccc;
}

.expiredcard {
  background-color: rgba(136, 136, 136, 0.171);
  width           : 100%;
  margin          : auto !important;
  margin-bottom   : 8px !important;
  border-radius   : 4px !important;
  // box-shadow      : 3px 3px 16px 4px #ccc;
  color: rgb(136, 136, 136);
}

.expiredcard img{
  opacity: 0.5;
}
.expiredcard ion-badge{
  opacity: 0.5;
}


.Expiredrepost-btn{
   color     : var(--ion-color-primary);
   text-align: center;
   opacity         : 1 !important;
}

img {
  border-radius: 3px;
  width: 120px;
  height:80px;
}

.offer-btn {

  background   : var(--ion-color-secondary);
  border       : 1px solid #fff;
  border-radius: 5px;
  color        : var(--ion-color-light);
}

.product-name {
  margin-top: -10px !important;
  text-align: center;
}

.badge {
  background-color: #ffffff91;
  font-size       : 10px !important;
  margin-top      : 33% !important;
  color           : var(--ion-color-secondary)!important;
}



#offer:focus {
  outline   : none !important;
  border    : 1px solid #fff;
  box-shadow: 0 0 2px #e9f3ff;
}

.confirm-btn {
  border-radius: 5px !important;
  width        : 50%;
  height       : 35px;
  background   : var(--ion-color-secondary);
  color        : var(--ion-color-light);
  border       : 1px solid #fff;
  margin       : 5px;
}

#card {
  background-color: var(--ion-color-light);
  border-radius   : 5px;
  box-shadow      : 2px 2px 2px 2px #ccc;
  margin-bottom   : 5px;
  border          : 1px solid #ebe6e6;
}

#blurred {
  -webkit-filter: blur(2px);
  -moz-filter   : blur(2px);
  -o-filter     : blur(2px);
  -ms-filter    : blur(2px);
  filter        : blur(2px);
}

#kg-dropdwon {
  position     : relative;
  display      : flex;
  width        : 100%;
  height       : 3em;
  border-radius: .25em;
  overflow     : hidden;
}

input[type=text] {
  font-size       : 15px;
  margin          : 0 5px;
  width           : 100%;
  box-sizing      : border-box;
  border          : none;
  background-color: transparent !important;
  border-bottom   : 2px solid var(--ion-color-primary);
}

input[type=number] {
  font-size       : 15px;
  margin          : 0 5px;
  width           : 100%;
  box-sizing      : border-box;
  border          : none;
  background-color: transparent !important;
  border-bottom   : 2px solid var(--ion-color-primary);
}

// input:focus {
//   outline: none !important;
//   border:1px solid #e9f3ff !important;
//   box-shadow: 0 0 2px #8b8d91;
// }


#edit {
  cursor: pointer;
}

.myproduct-div {
  position        : absolute;
  background-color: var(--ion-color-light);
  border          : 1px solid #ccc;
  border-radius   : 8px;
  box-shadow      : 2px 2px 2px 2px #ebe6e6;
  width           : 96% !important;
  margin          : 5px;

}

select {
  border: 1px solid #fff;
  border-radius: 0 !important;
  
  border-bottom: 2px solid var(--ion-color-primary) !important;

}

.repost-btn {
  // background   : #EB154B;
  color     : var(--ion-color-primary);
  text-align: center;

}

.repost-btn:hover {
  background: none !important;
}

.no-of-views {
  font-size: 12px;
  margin   : 0 !important;
  padding  : 0 !important;
}

.outter-badge {
  position     : relative;
  margin       : 10px;
  // background: #fff;
  width        : 74px;
}

.inner-badge {
  display          : table;
  position         : absolute;
  border-radius    : 50%;
  top              : 55%;
  left             : 30px;
  color            : #0D0D0D;
  background       : #ccccccbe;
  background-repeat: no-repeat;
  background-size  : cover;
  text-align       : center;

}

.inner-badge p {
  display       : table-cell;
  vertical-align: middle;
  padding       : 8px;
}


ion-content {
  background-color: var(--ion-color-light) !important;
  // background: linear-gradient(to bottom, darkturquoise
  // 0%, #d1f2e7
  // 100%) !important;

  --offset-bottom: auto !important;
  --overflow     : hidden;
  overflow       : auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.valuePadding {
  border : 1px inset #ccc;
  margin : 0 !important;
  padding: 0 !important;
}

.valuePadding input {
  border : none;
  padding: 0px;
  outline: none;
}

input[type=number] {
  font-size       : 15px;
  margin          : 0 5px;
  width           : 90%;
  box-sizing      : border-box;
  border          : none;
  background-color: transparent !important;
  border-bottom   : 2px solid var(--ion-color-primary);
}

input:focus {
  outline      : none !important;
  border-bottom: 2px solid var(--ion-color-success) !important;
}



//------- card--------//@at-root

#offercard {
  background-color: rgb(155, 79, 79);
}

input[type=datetime-local] {
  font-size       : 15px;
  margin          : 0 5px;
  width           : 90%;
  box-sizing      : border-box;
  border          : none;
  background-color: transparent !important;
  border-bottom   : 2px solid var(--ion-color-primary);
}


.show {
  visibility: visible;
}

.hidden {
  display:none !important

}