@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.dot {
    margin:15px;
    margin-top: 0 !important;
    height: 60%;
    width: 75%;
    background-color: var(--ion-color-light)
    ;
    border-radius: 10%;
    display: inline-block;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  }


  .welcome{
    color: var(--ion-color-secondary-shade);
    font-size: 18px;
    text-align: center;
  }
  
  #map_canvas {
    width: 100%;
    height: 80vh;
  }
  .count{
      padding: 25px;
      text-align: center;
      color: var(--ion-color-primary);
      font-size: 25px;
      font-family: 'Quicksand', sans-serif !important;
  }
  .views{
      margin-top:  -10px !important;
      text-align: center;
      color: var(--ion-color-secondary-shade);
  }
  .offer-btn{
    margin:15px;
    margin-top: 0 !important;
    background-color: var(--ion-color-secondary)
    ;
    border:1px solid #fff;
  }
  .myproducts-btn{
    margin:15px;
    color: var(--ion-color-light);
    border-radius: 5px !important;
    text-align: center !important;
    background:  var(--ion-color-secondary);
    border:1px solid #0D0D0D;
    border-radius: 5px;
  }
  ion-list{
    background-color:  var(--ion-color-light) !important;
  }
  ion-item{
    background-color: var(--ion-color-light)  !important;
  }
  .card{
    background-color: var(--ion-color-light) ;
    height:35px;
    text-align: center;
    border:1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
  }
  .myproduct-div{
    background-color: var(--ion-color-light) ;
    border:1px solid #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border:1px solid #fff;
    
  }
  ion-chip{
    box-shadow: none !important;
  }
  ion-content {
    background-color:var(--ion-color-light)  !important;
    // background: linear-gradient(to bottom, #fff
    // 0%, #d1f2e7
    // 100%) !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }


  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: var(--ion-color-light) ;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: var(--ion-color-light);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: var(--ion-color-light) ;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.circle{
  position:relative;
  width:60%;
  padding-bottom:50%;
  box-shadow: 1px 1px 1px 2px #ccc;
  background:var(--ion-color-light) ;
  border-radius:8px;
  margin: auto !important;
}
.circle h3{
  position:absolute;
  color:var(--ion-color-primary) ;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  margin:0;
}

.signin-div{
  background: rgba(128, 120, 120, 0.18);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  
}
