<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="assets/logo.jpeg" class="logo" />
  <div class="welcomecard mb-3 mt-3">
    <div>
      <p style="margin-top:12% !important ;" class="title"><b>Welcome</b> <br>
      </p>
      <p class="subtitle">Enjoy The 24hrs App</p>

    </div>

    <div class="ion-margin-top mt-3">
      <div class="row">
        <div class="col-12 mt-2">
          <ion-button style="width: 90%;" class="ion-margin-top secondaryLargelOutlineBtn" color="none"
            (click)="register()">
            <span style="margin-top: 4px;">SIGN UP</span>
          </ion-button>
        </div>
        <div class="col-12 mt-3">
          <ion-button style="width: 90%;" class="ion-margin-top secondaryLargeBtn" color="none" (click)="login()">
            SIGN IN</ion-button>
        </div>
      </div>


      
    </div>


  </div>

  <p class="subtitle ion-text-center mb-2" (click)="guide()" > How To Use Guide ? </p>


</ion-content>