<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" >
  <img src="assets/logo.jpeg" class="logo" />
  <div class="welcomecard mb-5">
    <div class="title mt-5">
      <h2>Welcome</h2>
      <p>Enjoy the 24hrs App</p>
    </div>

    <div class="ion-margin-top mb-4">
      <div class="row">
        <div class="col-12">
          <ion-button class="" style="width: 90%;" class="ion-margin-top" fill="outline" color="secondary" (click)="register()">
            <span style="margin-top: 4px;">SIGN UP</span>
          </ion-button>
        </div>
        <div class="col-12">
          <ion-button style="width: 90%;" class="ion-margin-top" (click)="login()" color="secondary">
            SIGN IN</ion-button>
        </div>
      </div>
     
     
    </div>
  </div>
</ion-content>