

<ion-content>

  <!--------------- Live offer card ------------------>
  <div class="container mt-5">
  
    <div class="row">
      <div class="col-2">
        <svg (click)="BackToPrevious()" style="cursor:pointer;color:#EB154B" width="30" height="30"
        viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5 12L4.29289 11.2929L3.58579 12L4.29289 12.7071L5 12ZM17 13C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11V13ZM8.29289 7.29289L4.29289 11.2929L5.70711 12.7071L9.70711 8.70711L8.29289 7.29289ZM4.29289 12.7071L8.29289 16.7071L9.70711 15.2929L5.70711 11.2929L4.29289 12.7071ZM5 13H17V11H5V13Z"
          fill="#EB154B" />
      </svg>
      </div>
      <div class="col-10 mt-1">
        <p class="ion-text-left">  Pleae Select a Picture</p>
      </div>
      <div *ngIf="noImage" style="margin: auto !important;margin-top: 50%;">
        <img style="width:100%;height:100%;" src="assets/gif/empty.gif" alt="">
      </div>
    </div>
    <div class="row mb-2">
      <div *ngFor="let item of productImageList" class="col-6 ion-text-center">
        <img src="{{item.image}}" alt=""   id="productCard" (click)="SelectImage(item.image)">
      </div>

    </div>
  </div>
</ion-content>