#productCard{
    border:1px solid var(--ion-color-light);
    box-shadow:3px 3px 16px 4px #ccc;
    width: 100%;
    height:100%;
    background-color: var(--ion-color-light) !important;
    border-radius: 8px;
    margin: 5px !important;
    margin-left:  0 !important;
  }