<ion-content class="ion-padding">
  <div class="welcomecard p-3 " style="margin-top: 55%;">
  <div class="title mt-1">
    <div class="row">
      <div class="col-10">
        <h4><b>Forgot Password </b></h4>
      </div>
      <div class="col-2">
        <div class="ion-margin-top ion-text-center">
          <svg (click)="dismiss()" style="cursor:pointer" width="24" height="27"
          viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_1056_2574)">
            <path d="M18 6L6 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 6L18 18" stroke="#EB154B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <filter id="filter0_d_1056_2574" x="-4" y="0" width="32" height="32" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1056_2574" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1056_2574" result="shape" />
            </filter>
          </defs>
        </svg>

        </div>
      </div>
    </div>
  </div>


  <div style="margin-top: -7%;" *ngIf="OTPField">
    <div class="row">
      <div class="col-12">
        <ion-input [(ngModel)]="PhoneNumber" placeholder="Enter Your Phone Number"
          class="primary-input"></ion-input>
      </div>


      <div class="ion-text-center">
        <ion-button (click)="SendOTP()"  style="width: 97%;"  class="secondarySmallBtn mt-3 mb-4" color="none" >
          Send OTP </ion-button>
      </div>

    </div>


    <ion-input [(ngModel)]="OneTimePassword" placeholder=" - - - - " type="password"
      class="primary-input"></ion-input>

    
    <p class="small text-center mt-1">Resend OTP Will Be Enabled In 60 Seconds</p>
    <!-- <ion-button class="btn btn-sm text-white" color="success" (click)="NaviagtetoBack()">
    Back</ion-button> -->

    <div class="row">
      <div class="col-6 mb-3">

        <ion-button style="width: 95%;margin: auto;"  class="secondarySmallBtn mt-2" color="none" (click)="ReSendOTP()" *ngIf="AfterSixtySeconds">
         Resend OTP</ion-button>

    
      </div>
  
      <div class="col-6 mb-3">

        <ion-button style="width: 95%;margin: auto;"  class="secondarySmallBtn mt-2" color="none" (click)="verifyOTP()" *ngIf="isOTPsent">
          Verify OTP</ion-button>
      </div>
    </div>

  </div>


  <div class="input-field mb-5" *ngIf="PasswordField">

    <ion-input [(ngModel)]="password" placeholder="Enter Your Password" type="password"
      (keyup)="passwordValidation(password)" class="primary-input"></ion-input>
    <p *ngIf="pwLowercaseAlert" class="validation" > A <b>lowercase</b> letter </p>
    <p *ngIf="pwUppercaseAlert" class="validation" > A <b>capital (uppercase)</b> lette</p>
    <p *ngIf="pwNumberAlert" class="validation" > A <b>number</b> </p>
    <p *ngIf="pwMinimumAlert" class="validation" >Minimum <b>8 characters</b> </p>
    <p *ngIf="invalidAlert" class="validation" ><b>Invalid</b> </p>


    <ion-input [(ngModel)]="confirmPassword" placeholder="Confirm Your Password"  type="password" class="primary-input"></ion-input>

    

    <ion-button (click)="confirmThePassword()"  style="width: 98%;"  class="secondarySmallBtn mt-3 mb-4" color="none" >
      Submit </ion-button>

    

  </div>

</div>
</ion-content>